body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #F8F5F0;
    color: #252525;
}

.header {
    background-color: #17202A;
    padding: 25px;
    text-align: center;
}

nav {
    margin-top: 15px;
}

.logo {
    color: #D4A373;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

main {
    width: 85%;
    margin: 40px auto;
}

.hero {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
}

.content {
    width: 90%;
}

.label {
    color: #D4A373;
    font-weight: bold;
}

h1 {
    color: #17202A;
    font-size: 50px;
    margin: 10px 0;
}

h2 {
    color: #17202A;
}

.image {
    width: 60%;
    margin: 25px auto;
}

.image img {
    width: 100%;
    border-radius: 12px;
}

.button {
    background-color: #D4A373;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

.info,
.card,
.objective {
    background-color: white;
    padding: 30px;
    margin-top: 25px;
    border-radius: 15px;
}

.card {
    width: 100%;
    padding: 0px;
}

.card a {
    color: #D4A373;
    text-decoration: none;
    font-weight: bold;
}

li {
    margin-bottom: 10px;
}